.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #0A2342;
  z-index: 9999;

  display: flex;
  align-items: center;
  padding: 0 2%; 
  box-sizing: border-box;
}

.header-logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: auto; 
}

.header-logo {
  height: 45px;
  width: auto;
  display: block;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 30px; 
  margin-left: auto; 
  font-family:Arial, Helvetica, sans-serif;
}

.nav-link {
  text-decoration: none;
  color: #020c41;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.nav-link:hover {
  text-decoration: underline;
}