.app-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url('./assets/AutoEdge.png');
  background-repeat: no-repeat;
  background-position: center;

  background-size: 40%; 

  opacity: 0;

  filter: hue-rotate(220deg) saturate(4) brightness(0.6) blur(1px);

  z-index: -1;
}

.app-content {
  width: 100%;
}

